@model  Kabobwich;
@{
    ViewData["Title"] = "KabobwichForm";
}

<h2>KabobwichForm</h2>
<form asp-action="AddKabobwich">
    <div class="form-group">
        <h3>Bread</h3>
        @foreach (var bread in (Bread[])Enum.GetValues(typeof(Bread)))
        {
            <input asp-for="Bread" type="radio" checked="checked" value="@bread" name="bread" id="@bread" />
            <label for="@bread">@bread</label>
        }
    </div>
    <div  class="form-group">
        <h3>Meat</h3>
        @foreach (var meat in (Meat[])Enum.GetValues(typeof(Meat)))
        {
            <input asp-for="Meat" type="radio" checked="checked" value="@meat" name="meat" id="@meat" />
            <label for="@meat">@meat</label>
        }
    </div>
    <div  class="form-group">
        <h3>Sauce</h3>
        @foreach (var sauce in (Sauce[])Enum.GetValues(typeof(Sauce)))
        {
            <input asp-for="Sauce" type="radio" checked="checked" value="@sauce" name="sauce" id="@sauce" />
            <label for="@sauce">@sauce</label>
        }
    </div>
    <div  class="form-group">
        <h3>Toppings</h3>
        @foreach (var topping in (Topping[])Enum.GetValues(typeof(Topping)))
        {
            <input asp-for="Toppings"type="checkbox" value="@topping" name="topping" id="@topping" />
            <label for="@topping">@topping</label>
            <br />
        }
    </div>
    <input type="hidden" name="orderId" value="@ViewBag.OrderId" />
    <button type="submit" class="btn btn-primary" >Add</button>
    <button asp-action="OrderOverview" class="btn btn-danger">Back</button>
</form>