@model Order
@{
    Layout = "_Layout";
    ViewData["Title"] = "OrderOverview";
    var numOfSides = ViewBag.numOfSides;
    var numOfDrinks = ViewBag.numOfDrinks;
}


<div class="container">
    <h2>OrderOverview</h2><hr />
    <div class="buttonGroup">
        <a href="/Order/KabobwichForm/" class="btn btn-block btn-primary">Add a kabobwich</a>
        <br />
        <a href="/Order/SidesAndDrinks/" class="btn btn-block btn-primary">Add sides and drinks</a>
        <br />
        <a href="/Order/PaymentAndAddress" class="btn btn-block btn-primary">Add delivery address and payment info</a>
    </div>

    <form asp-action="PlaceOrder">
        <div class="orderInfo">
            <p>kabobs: @ViewBag.KabobwichCount</p>
            <p>sides: @numOfSides</p>
            <p>drinks: @numOfDrinks</p>
            @{ var subtotal = (ViewBag.KabobwichCount == null ? 0 : ViewBag.KabobwichCount) * Price.Kabobwich + numOfSides * Price.Side + numOfDrinks * Price.Drink;}
            <p>Subtotal: @string.Format("{0:C}", subtotal)</p>
            <p id="total">Total: @string.Format("{0:C}", subtotal * (1 + Price.Tax))</p>
        </div>
        @{
            if (!string.IsNullOrEmpty(ViewBag.addressid) && !string.IsNullOrEmpty(ViewBag.billingid))
            {
                <button type="submit" class="btn btn-primary">Place Order</button>
            }
            else
            {
                <p>Please add delivery address and Billing before placing order</p>
                <button type="submit" class="btn btn-primary" disabled>Place Order</button>
            }

        }

    </form>
</div>

