@{
    ViewData["Title"] = "SidesAndDrinks";
}

<h2>SidesAndDrinks</h2>

<form asp-action="AddSidesAndDrinksToOrder">
    <h3>Sides</h3>
    <input type="hidden" name="sideString" id="SideString" value="" />
    @{ foreach (var side in (SideEnum[])Enum.GetValues(typeof(SideEnum)))
        {
            <label asp-for="@side">@side</label>
            <button type="button" onClick="(function () { document.getElementById('SideString').value += '@side.ToString(),' })()">+ @side</button>
        }
    }
    <h3>Drinks</h3>
    <input type="hidden" name="drinkString" id="DrinkString" value="" />
    @{ foreach (var drink in (DrinkEnum[])Enum.GetValues(typeof(DrinkEnum)))
        {
            <label asp-for="@drink">@drink</label>
            <button type="button" onClick="(function () { document.getElementById('DrinkString').value += '@drink.ToString(),'})()">+ @drink</button>
        }
    }
    <input type="hidden" name="orderId" value="@ViewBag.OrderId" />
    <button type="submit">Choose Delivery Address And Payment Method</button>
</form>