@model Address
@{
    Layout = "_Layout";
    ViewData["Title"] = "Customer Address";
}

<h2>AddressForm</h2>
<form asp-action="SaveAddress">
    <div>
        <label asp-for="StreetAddress">Street Address</label>
        @Html.TextBoxFor(model => Model.StreetAddress, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.StreetAddress , "",new { @class = "text-danger" })
    </div>
    <div>
        <label asp-for="City">City</label>
        @Html.TextBoxFor(model => Model.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.City, "", new { @class = "text-danger" })
    </div>
    <div>
        <label asp-for="PostalCode">Postal Code</label>
        @Html.TextBoxFor(model => Model.PostalCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.PostalCode, "", new { @class = "text-danger" })
     
    </div>
    <button type="submit" class="btn btn-primary">Add Address</button>
</form>
