@model  PaymentInformation
@{

    Layout = "_Layout";
    ViewData["Title"] = "Payment Information";

}

<h2>PaymentInfoForm</h2>
<form asp-action="SavePaymentInfo">
    <div>
        <label asp-for="CardType">Card Type</label>
        <select asp-for="CardType">
            @foreach (CardType cType in (CardType[])Enum.GetValues(typeof(CardType)))
            {
                <option id="@cType">@cType</option>
            }
        </select>
        @Html.ValidationMessageFor(model => Model.CardType, "", new { @class = "text-danger" })
    </div>
    <div>
        <label asp-for="CardNum">Card Number</label>

        @Html.TextBoxFor(model => Model.CardNum, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.CardNum, "", new { @maxLength = 16 ,@class = "text-danger" })
        
    </div>
    <div>
        <label asp-for="SecurityCode">Security Code</label>
        @Html.TextBoxFor(model => Model.SecurityCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.SecurityCode, "", new { @maxLength = 3,  @class = "text-danger" })
    </div>
    <div>
        <label asp-for="CardholderName">Cardholder Name</label>
        @Html.TextBoxFor(model => Model.CardholderName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.CardholderName, "", new { @class = "text-danger" })
       
    </div>
    <div>
        <label asp-for="BillingAddress">Billing Address</label>
        @Html.DropDownList("billingid", (SelectList)ViewBag.Addresses, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.BillingAddress, "", new { @class = "text-danger" })


    </div>
    <button type="submit">Add Payment Information</button>
</form>
